/* .navContainer{

    display: flex;
    justify-content: space-around;


} */

.iconContainer{
    width: 40px;
    height: 40px;
    background-color: #273270;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;


}

.icon{

    margin: auto;
}